#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.amount-active {
  color: rgb(227 6 140);
  border: 1px solid rgb(227 6 140) !important;
}

.dropdown-option {
  font-weight: 500;
  text-align: left;
}
.dropdown-option:hover {
  cursor: pointer;
}